<mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
<div class="pageHeader" *ngIf="!loading">
  <h2>{{videoInfo.name}}</h2>
  <span class="example-spacer"></span>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <video style="width: 100%;" [controls]="userInfo.admin || videosService.isReserved(videoInfo)">
      <source [src]="videosService.getVideoUrl(videoInfo)" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <button color="primary" mat-raised-button *ngIf="videosService.ableForReserveVideos() && !videosService.isReserved(videoInfo)" (click)="reserve()">
      <mat-icon>check</mat-icon> Reserve
    </button>

    <button color="warn"  mat-mini-fab *ngIf="userInfo.admin" class="btnMargin" matTooltip="Delete" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>

    <button color="primary"  mat-mini-fab *ngIf="userInfo.admin" matTooltip="Edit" (click)="videosService.navigate('../videos/form', videoInfo.id)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="dataItem"> <span>price : </span><span>{{videoInfo.price}} {{APP_CURRENCY}}</span></div>
    <div class="dataItem"> <span>language : </span><span>{{videoInfo.language}}</span></div>
    <div class="dataItem"> <span>duration : </span><span>{{videoInfo.duration}}</span></div>
    <div class="dataItem"> <span>copies : </span><span>{{videoInfo.copies}}</span></div>
    <div class="dataItem"> <span>country : </span><span>{{videoInfo.country}}</span></div>
    <div class="dataItem"> <span>dimensions : </span><span>{{videoInfo.dimensions}}</span></div>
    <div class="dataItem"> <span>publisher : </span><span>{{videoInfo.publisher}}</span></div>
    <div class="dataItem"> <span>publishing Date : </span><span>{{videoInfo.publishingDate}}</span></div>
    <div class="dataItem"> <span>director : </span><span>{{videoInfo.director}}</span></div>
    <div class="dataItem"> <span>Watching Age: </span><span>{{videoInfo.watchingAge}}</span></div>
    <div class="dataItem"> <span>category: </span><span>{{videoInfo.category.name}}</span></div>
  </div>
</div>

<div class="row commentsContainer" *ngIf="!loading">
  <mat-progress-bar mode="query" *ngIf="loadingComments"></mat-progress-bar>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 commentSection" *ngFor="let comment of comments">
    <img [src]="'assets/common/profile.png'" alt=""/>
    <span> {{comment.firstName + ' '}} {{comment.lastName}} </span>
    <p>{{comment.comment}}</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="formGroup && (videosService.isReserved(videoInfo) || userInfo.admin)">
    <form accept-charset="UTF-8" role="form" [formGroup]="formGroup" (submit)="submitComment()">
      <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Write Comment" formControlName="comment"  style="height: 200px"></textarea>
      </mat-form-field>
      <button color="primary" mat-raised-button
              (submit)="submitComment()"
              [disabled]="formGroup.invalid || loadingComments"> Comment</button>
    </form>
  </div>
</div>
