<div class="row homeCard">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
    <div class="box homeCardItem" (click)="navigate('../books')"><img [src]="'assets/icons/books.svg'" alt="" class="itemIcon"/> Books </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
    <div class="box homeCardItem" (click)="navigate('../videos')"><img [src]="'assets/icons/videos.svg'" alt="" class="itemIcon"/> Videos </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
    <div class="box homeCardItem" (click)="navigate('../reservations')"><img [src]="'assets/icons/calendar.svg'" alt="" class="itemIcon"/> Reservations </div>
  </div>
</div>
